      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


      body {
         margin: 0;
         padding: 0;
         overflow: auto;
         background-color: #f4f1ec;
      }

      * {
         box-sizing: border-box;
      }

      body {
         font-family: "Roboto", sans-serif;
      }

      main {
         max-width: 920px;
         margin-left: auto;
         margin-right: auto;
      }

      img {
         height: 120px;
         width: 120px;
         border-radius: 50%;
         float: left;
         border: 3px solid;
         border-color: #F5C73D;
      }

      .firstparagraph {
         margin-top: -30px;
         background-color: white;
      }

      section {
         background-color: white;

      }

      .presentazione::first-letter {
         font-weight: bold;
         font-size: 2.5em;
         font-family: Georgia, 'Times New Roman', Times, serif;
      }

      h1 {
         margin: 0;
         text-align: center;
         padding-top: 150px;
      }

      #inizio {
         color: white;
         font-size: 4em;
      }

      header {
         background-image: url(assett/header-bg.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         height: 400px;
      }

      #start {
         height: 100%
      }

      nav {
         height: 100%;
         width: 100%;
         border-bottom: 4px solid;
         color: #F5C73D;
      }

      #section {
         text-align: center;
         line-height: 50px;
      }

      h2,
      h3 {
         color: #1F3D7A;

      }



      .studente {
         color: #F44A4A;
         text-align: center;
         margin-top: 70px;
      }

      .glossario {
         color: white;
         text-align: center;
         width: 100%;
         line-height: 80px;
         padding-top: 60px;
         list-style-type: none;
         padding: 0;
         margin: 0;
         display: inline-block;
      }


      footer {
         background-color: #172136;
         color: white;
         text-align: center;
      }

      .presentazione {
         color: blue;
      }

      #Nome:focus {
         background-color: black;
         color: white;
      }

      #email:focus {
         background-color: black;
         color: white;
      }

      #messaggio:focus {
         background-color: black;
         color: white;
      }

      label {
         color: #1F3D7A;
      }

      button {
         background-color: hsl(220, 60%, 30%);
         color: hsl(220, 60%, 30%);
         width: 100%;
      }

      ul {
         list-style-type: none;
      }

      nav ul li {
         display: inline-block;
      }

      nav a {
         color: #F44A4A;
         font-weight: bold;
         line-height: 3;
      }

      .glossario li:not(:last-child) a {
         padding-right: 20px;
      }

      section,
      article {
         border: 0.5px solid black;
         margin-top: 40px;
         border-radius: 12px;
         padding: 20px;
         box-shadow: 4px 4px 4px gray;
      }

      button {
         max-width: 25%;
         text-align: center;
      }

      main section h2::before {
         content: "";
         color: yellowgreen;

      }

      .sfondo {
         background-color: rgb(221, 218, 43);
      }

      .ricetta::after {
         content: "   NEW";
         display: inline-block;
         padding: 2px 8px;
         margin-left: 12px;
         background-color: red;
         border-radius: 3px;
         font-size: 0.75rem;
         color: white;
      }

      .contlist {
         border: 1px solid;
         border-color: white;
         font-size: 1.7em;
         list-style-type: none;
         border-radius: 8px;
         display: inline-block;
         margin-left: 10px;
         height: 15px;



      }

      .lista1 {
         font-size: large;
         
      }

      .lista1 a {
         width: 100%;
         max-height: 100%;
         text-align: center;
         border: 1px solid;
         border-color: white;
         border-radius: 8px;
         padding: 25px 4px 4px 30px;
         display: inline;
         color: white;
      }

      .lista1 a {
         margin-bottom: 3px;
         text-align: center;
         margin-left: 7px;
      }
      .undtest{
         color: #1F3D7A;
      }


      .tdlist1{
width: 40%;

      }

      table{
      
         width: 90%;
        
      }
      thead{
         text-align: center;
         background-color: #F9F5EA;
         color: blue;     
       }
      .capolista{
         border-bottom:  2px solid ;
         border-color: #F4F1EC;
         
        
      
      }
      td{
         border: solid;
      }
      
      th #tabella{
         max-width: 50%;
      }

      .barra{
      background-color: #ECE6D8;
      height: 20px;
      width: 85%;
      display: inline-block;
      
      border-radius: 8px;
      text-align: center;
      
      
      
      }
      
      .barra2{
         background-color: #F2B90D;
      height: 100%;
      width: 65%;
      height: 100%;
      display: block;
   
      border-radius: 8px;
      border: 0px;
      padding: 0px;

      }
      .tdlist1 th{
         width: 50%;
         

      }
   
      .abc{
         border: solid 1 px;
      }

      p {
        
         font-weight: normal ;
      }
      span table{
         font-size: 10rm;
      }
      span{
      padding-right: 10px;
      font-size: large;
      }
      th{
           
        }
      